body {
  background-image: url("https://i.ytimg.com/vi/EUxHb_G6z_c/maxresdefault.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  padding:0px
}

#container {
  margin: 0px;
  padding: 0px;
}

#intro, #outro{
  position:absolute;
  margin: 5%;
  width: 90%;
  height: 80%;
  top: 5%;
  border-radius: 20px;
  background-color: white;
  opacity: 0.93;
  z-index: 2;
}

#outro {
  left: -1500px;
  padding-top: 5%;
  text-align: center;
}

#intro button {
  display: block;
  position: relative;
}

#explanation-btn {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  margin: auto;
}

#explanation-container {
  position: relative;
  overflow: hidden;
  height: 300px;
}

#explanation-txt {
  position: relative;
  transition: top 1s ease-out;
  text-align: center;
  margin: auto;
}

.txt-down {
  top: 50px
}

.txt-up {
  top:-168px
}

.txt-stay-down {
  top: 50px
}

#explanation-txt p {
  margin: 7px
}

#explanation-txt p:first-child {
  font-weight: bolder;
  margin-bottom: 15px;
}

.bold {
  font-weight: bold;
}

#play, .submit {
  position: absolute;
  border-radius: 20px;
  width: 110px;
  margin: auto;
  transition: top 0.8s ease-out
}

.submit {
  top: 30%
}

#play h1 {
  margin:10px;
  font-weight: bolder;
}

.play-down {
  top: 0px
}

.play-up {
  top: -145px
}

.play-stay-down {
  top: 0px
}

#congrats {
  font-size: 40px;
  font-weight: bold;
  color: #449d44;
  text-shadow: 3px 3px 6px lightblue
}

#totalScore {
  display: inline-block;
  font-size: 60px;
  font-weight: bolder;
  color: orange;
}

#scoreText {
  position: absolute;
  display: inline-block;
  margin-top: 30px;
  margin-left: 10px;
  float: left;
  font-size: 17px;
  color: blue;
  vertical-align: baseline;
}

#score-form * {
  display: block;
  position:relative;
  width: 50%;
  margin: auto;
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
  border-radius: 20px;
}

#page-heading {
  display:block;
  font-size: 60px;
  text-align: center;
  margin: 0px;
  left: 0px;
  right: 0px;
  padding: 20px 0px 20px 10px;
  color: white;
  background-color: #334444;
  font-weight:bold;
  text-shadow: 5px 5px 4px lightgreen;
}

.counter {
  position: absolute;
  font-weight: bolder;
  text-align: center;
  top: 3%;
  font-size: 20px;
  color: lightyellow;
  text-shadow: 1px 1px 4px yellow;
}

#score-board {
  left: 8%;
}

#clock {
  right: 8%
}

#score, #time {
  font-size: 30px
}

#blocks-container {
  margin: 0px 10px 0px 10px;
}
/*to get rid of the vertical space between the divs*/
.row {
  margin-right: 0px;
  margin-left: 0px;
  font-size: 0px;
}

.fish {
  display: inline;
  position: absolute;
  left: 10%;
  top: 10%;
  width: 80%;
  height: 80%;
  margin: 0px;
  background: none;
  z-index: 1;
}

.mirror-fish {
  transform: rotateY(180deg);
}

.colorBlock {
  display: inline-block;
  position: relative;
  margin: 0px;
  border-radius: 10px;
  opacity: 0.85;
  color: black;
  font-size: 20px;
  z-index: 0;
}


@media screen and (max-width: 850px) {
  #page-heading {font-size: 45px}

  .counter {font-size: 15px}

  #score, #time {font-size: 23px}
}

@media screen and (max-width: 700px) {
  #page-heading {font-size: 38px}

  .counter {font-size: 12px}

  #score, #time {font-size: 19px}
}

@media screen and (max-width: 550px) {
  #page-heading {font-size: 36px; height: 100px}

  #title {position: relative; top:-10px}

  .counter {top: 50px }

  #score-board {left: 20px }

  #clock {right: 20px }
}
