body {
  background-image: url("https://i.ytimg.com/vi/EUxHb_G6z_c/maxresdefault.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  padding:0px
}

#container {
  margin: 0px;
  padding: 0px;
}

#page-heading {
  display:block;
  font-size: 60px;
  text-align: center;
  margin: 0px;
  left: 0px;
  right: 0px;
  padding: 20px 0px 20px 10px;
  color: white;
  background-color: #334444;
  font-weight:bold;
  text-shadow: 5px 5px 4px lightgreen;
}

#blocks-container {
  margin: 0px 10px 0px 10px;
  overflow: hidden;
}
/*to get rid of the vertical space between the divs*/
.row {
  margin-right: 0px;
  margin-left: 0px;
  font-size: 0px;
}

.fish {
  display: inline;
  position: absolute;
  left: 10%;
  top: 10%;
  width: 80%;
  height: 80%;
  margin: 0px;
  background: none;
  z-index: 1;
}

.colorBlock {
  display: inline-block;
  position: relative;
  margin: 0px;
  border-radius: 10px;
  opacity: 0.85;
  z-index: 0px;
}

@media screen and (max-width: 600px) {
  #page-heading {font-size: 36px}
}
